@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");


/* :root {
  --left-bg-color:rgba(87, 84, 236, 0.7);
  --right-bg-color:rgba(43, 43, 43, 0.8);
  --left-btn-hover-color:rgba(87, 84, 236, 1);
  --right-btn-hover-color:rgba(28, 122, 28, 1);
  --hover-width:75%;
  --other-width:25%;
  --speed:1000ms;
} */

* {
  box-sizing: border-box;
}

body {
    background-color: rgb(161, 100, 223);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.btn{
    background-color: rebeccapurple;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
}


.btn:hover{
    opacity: 0.7;
}

.btn:focus{
    outline: none;
}